{
    "by": "neonnoodle",
    "descendants": 6,
    "id": 31403791,
    "kids": [
        31404729,
        31404730,
        31404603,
        31403990,
        31403857
    ],
    "score": 4,
    "text": "I\u2019ve been making art and putting it on the internet for 20 years or so. I\u2019ve used:<p>- forums<p>- Blogger&#x2F;Wordpress<p>- personal portfolio sites<p>- YouTube for tutorial videos<p>- FB&#x2F;Twitter&#x2F;Instagram&#x2F;Tumblr<p>- Gumroad for digital products<p>None of these outlets feels like a good \u201chome\u201d to me. Forums were great for WIP feedback but the good ones all died and got hacked. Blogs and my personal sites have always been good, but discoverability isn\u2019t there. Social media platforms gave me a little more visibility, but lock-in and platform culture are extremely toxic. Instagram, for example, is touted as THE social media platform for artists, but the way they process image uploads is awful. The promotion or burying of posts is opaque.<p>I want to create my work and put it where people might have a chance of seeing it, without algorithmic shenanigans or dark patterns.<p>Why is this so difficult? How would you approach solving this?",
    "time": 1652739471,
    "title": "Ask HN: How to design a better internet for artists?",
    "type": "story"
}{
    "by": "kradeelav",
    "id": 31404729,
    "parent": 31403791,
    "text": "(another artist who&#x27;s been posting art online for the last 15 years)<p>deviantart is&#x2F;has been dying but for ~20 years was the best place that I can think of that actually served all of the points you listed in a realistic manner. artstation was sort-of built to be a successor in some ways but caters almost exclusively to AAA video game artists and has a vibe I dislike.<p>my current working method is a personal site with RSS-enabled logs + a few invite-only discord servers with friends to hear feedback and share work in progress pictures. It works for me but I&#x27;m a very introverted soul and also deliberately run away from the commercialization of art.<p>personally I think it all went to hell when people started latching onto the idea of &quot;content creator&quot; as a cash-flow identity. your mileage may vary though.",
    "time": 1652748237,
    "type": "comment"
}{
    "by": "ArtWomb",
    "id": 31404730,
    "parent": 31403791,
    "text": "Coinbase NFTs? While it may seem ludicrous, I have heard the global avg sale price is $2k per nft. That could equate to 10h of work for environment or 3d artist.<p>Of course, net artists have been engaged in the online sale discourse since the dial-up modem era and advent of bbs tech. What&#x27;s the digital equivalent of &quot;gallery representation&quot;:<p><a href=\"https:&#x2F;&#x2F;www.nettime.org&#x2F;archives.php\" rel=\"nofollow\">https:&#x2F;&#x2F;www.nettime.org&#x2F;archives.php</a>",
    "time": 1652748241,
    "type": "comment"
}{
    "by": "8bitsrule",
    "id": 31404603,
    "parent": 31403791,
    "text": "I&#x27;d guess (limited experience) that local outlets (offline - e.g. trade shows - &amp; online e.g. Craigslist ... ideas there too) might be better bets. When my SO made some knitted seasonal doorknob covers (crafts but still) and took them to a trade show, a lot of orders resulted. From there, word-of-mouth might help.",
    "time": 1652746858,
    "type": "comment"
}{
    "by": "verdverm",
    "id": 31403990,
    "kids": [
        31404088
    ],
    "parent": 31403791,
    "text": "I don&#x27;t think there is a &quot;solution&quot; You want people to see your work and pay for it, art is not much different from anything else transactional.<p>Have you tried thinking about it like a marketing &#x2F; sales funnel? Who are your customers, where do they discover and purchase...? You have to be there and stand out in a crowded field. You have to have many channels, it&#x27;s just the nature of the beast.<p>In the end, only a small percentage of artists (producers of X) will be able to make a living from their work.",
    "time": 1652741121,
    "type": "comment"
}{
    "by": "david927",
    "id": 31403857,
    "parent": 31403791,
    "text": "My 16-year-old daughter is an artist and she&#x27;s trying to put together a site that would let artists post their work and collaborate:<p><a href=\"https:&#x2F;&#x2F;getcollabing.com\" rel=\"nofollow\">https:&#x2F;&#x2F;getcollabing.com</a><p>My email is in my profile if you want to talk more.",
    "time": 1652739982,
    "type": "comment"
}